version: "3.9"

services:
  web:
    build: .
    container_name: customlab_api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: customlab_db
    environment:
      POSTGRES_DB: customlab_db
      POSTGRES_USER: customlab_user
      POSTGRES_PASSWORD: customlab_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
